/AnimationEditor/bin/Windows/Debug/AnimationEditor.exe
/AnimationEditor/bin/Windows/Debug/AnimationEditor.pdb
/AnimationEditor/bin/Windows/Debug/AnimationEditor.vshost.exe
/AnimationEditor/bin/Windows/Debug/AnimationEditor.vshost.exe.manifest
/AnimationEditor/bin/Windows/Debug/Cyotek.Windows.Forms.ColorPicker.dll
/AnimationEditor/bin/Windows/Debug/GameGraphicsLib.dll
/AnimationEditor/bin/Windows/Debug/GameGraphicsLib.pdb
/AnimationEditor/bin/Windows/Debug/MonoGame.Framework.dll
/AnimationEditor/bin/Windows/Debug/MonoGame.Framework.xml
/AnimationEditor/bin/Windows/Debug/SharpDX.DXGI.dll
/AnimationEditor/bin/Windows/Debug/SharpDX.DXGI.xml
/AnimationEditor/bin/Windows/Debug/SharpDX.Direct2D1.dll
/AnimationEditor/bin/Windows/Debug/SharpDX.Direct2D1.xml
/AnimationEditor/bin/Windows/Debug/SharpDX.Direct3D11.dll
/AnimationEditor/bin/Windows/Debug/SharpDX.Direct3D11.xml
/AnimationEditor/bin/Windows/Debug/SharpDX.Direct3D9.dll
/AnimationEditor/bin/Windows/Debug/SharpDX.Direct3D9.xml
/AnimationEditor/bin/Windows/Debug/SharpDX.MediaFoundation.dll
/AnimationEditor/bin/Windows/Debug/SharpDX.MediaFoundation.xml
/AnimationEditor/bin/Windows/Debug/SharpDX.RawInput.dll
/AnimationEditor/bin/Windows/Debug/SharpDX.RawInput.xml
/AnimationEditor/bin/Windows/Debug/SharpDX.XAudio2.dll
/AnimationEditor/bin/Windows/Debug/SharpDX.XAudio2.xml
/AnimationEditor/bin/Windows/Debug/SharpDX.XInput.dll
/AnimationEditor/bin/Windows/Debug/SharpDX.XInput.xml
/AnimationEditor/bin/Windows/Debug/SharpDX.dll
/AnimationEditor/bin/Windows/Debug/SharpDX.xml
/AnimationEditor/bin/Windows/Debug/AnimationEditor.exe.config
/AnimationEditor/bin/Windows/Debug/AnimationEditor.vshost.exe.config
/AnimationEditor/bin/Windows/Debug/GraphicsManagerLib.dll
/AnimationEditor/bin/Windows/Debug/GraphicsManagerLib.pdb
/AnimationEditor/bin/Windows/Debug/FileDialogLib.dll
/AnimationEditor/bin/Windows/Debug/FileDialogLib.pdb
/AnimationEditor/bin/Windows/Debug/GameArchiveLib.dll
/AnimationEditor/bin/Windows/Debug/GameArchiveLib.pdb
/AnimationEditor/bin/Windows/Release/AnimationEditor.exe
/AnimationEditor/bin/Windows/Release/AnimationEditor.exe.config
/AnimationEditor/bin/Windows/Release/AnimationEditor.pdb
/AnimationEditor/bin/Windows/Release/AnimationEditor.vshost.exe
/AnimationEditor/bin/Windows/Release/AnimationEditor.vshost.exe.config
/AnimationEditor/bin/Windows/Release/AnimationEditor.vshost.exe.manifest
/AnimationEditor/bin/Windows/Release/Cyotek.Windows.Forms.ColorPicker.dll
/AnimationEditor/bin/Windows/Release/FileDialogLib.dll
/AnimationEditor/bin/Windows/Release/FileDialogLib.pdb
/AnimationEditor/bin/Windows/Release/GameArchiveLib.dll
/AnimationEditor/bin/Windows/Release/GameArchiveLib.pdb
/AnimationEditor/bin/Windows/Release/GameGraphicsLib.dll
/AnimationEditor/bin/Windows/Release/GameGraphicsLib.pdb
/AnimationEditor/bin/Windows/Release/GraphicsManagerLib.dll
/AnimationEditor/bin/Windows/Release/GraphicsManagerLib.pdb
/AnimationEditor/bin/Windows/Release/MonoGame.Framework.dll
/AnimationEditor/bin/Windows/Release/MonoGame.Framework.xml
/AnimationEditor/bin/Windows/Release/SharpDX.DXGI.dll
/AnimationEditor/bin/Windows/Release/SharpDX.DXGI.xml
/AnimationEditor/bin/Windows/Release/SharpDX.Direct2D1.dll
/AnimationEditor/bin/Windows/Release/SharpDX.Direct2D1.xml
/AnimationEditor/bin/Windows/Release/SharpDX.Direct3D11.dll
/AnimationEditor/bin/Windows/Release/SharpDX.Direct3D11.xml
/AnimationEditor/bin/Windows/Release/SharpDX.Direct3D9.dll
/AnimationEditor/bin/Windows/Release/SharpDX.Direct3D9.xml
/AnimationEditor/bin/Windows/Release/SharpDX.MediaFoundation.dll
/AnimationEditor/bin/Windows/Release/SharpDX.MediaFoundation.xml
/AnimationEditor/bin/Windows/Release/SharpDX.RawInput.dll
/AnimationEditor/bin/Windows/Release/SharpDX.RawInput.xml
/AnimationEditor/bin/Windows/Release/SharpDX.XAudio2.dll
/AnimationEditor/bin/Windows/Release/SharpDX.XAudio2.xml
/AnimationEditor/bin/Windows/Release/SharpDX.XInput.dll
/AnimationEditor/bin/Windows/Release/SharpDX.XInput.xml
/AnimationEditor/bin/Windows/Release/SharpDX.dll
/AnimationEditor/bin/Windows/Release/SharpDX.xml
