/AnimationEditor/bin/Windows/Debug/AnimationEditor.exe
/AnimationEditor/bin/Windows/Debug/AnimationEditor.pdb
/AnimationEditor/bin/Windows/Debug/AnimationEditor.vshost.exe
/AnimationEditor/bin/Windows/Debug/AnimationEditor.vshost.exe.manifest
/AnimationEditor/bin/Windows/Debug/Cyotek.Windows.Forms.ColorPicker.dll
/AnimationEditor/bin/Windows/Debug/GameGraphicsLib.dll
/AnimationEditor/bin/Windows/Debug/GameGraphicsLib.pdb
/AnimationEditor/bin/Windows/Debug/MonoGame.Framework.dll
/AnimationEditor/bin/Windows/Debug/MonoGame.Framework.xml
/AnimationEditor/bin/Windows/Debug/SharpDX.DXGI.dll
/AnimationEditor/bin/Windows/Debug/SharpDX.DXGI.xml
/AnimationEditor/bin/Windows/Debug/SharpDX.Direct2D1.dll
/AnimationEditor/bin/Windows/Debug/SharpDX.Direct2D1.xml
/AnimationEditor/bin/Windows/Debug/SharpDX.Direct3D11.dll
/AnimationEditor/bin/Windows/Debug/SharpDX.Direct3D11.xml
/AnimationEditor/bin/Windows/Debug/SharpDX.Direct3D9.dll
/AnimationEditor/bin/Windows/Debug/SharpDX.Direct3D9.xml
/AnimationEditor/bin/Windows/Debug/SharpDX.MediaFoundation.dll
/AnimationEditor/bin/Windows/Debug/SharpDX.MediaFoundation.xml
/AnimationEditor/bin/Windows/Debug/SharpDX.RawInput.dll
/AnimationEditor/bin/Windows/Debug/SharpDX.RawInput.xml
/AnimationEditor/bin/Windows/Debug/SharpDX.XAudio2.dll
/AnimationEditor/bin/Windows/Debug/SharpDX.XAudio2.xml
/AnimationEditor/bin/Windows/Debug/SharpDX.XInput.dll
/AnimationEditor/bin/Windows/Debug/SharpDX.XInput.xml
/AnimationEditor/bin/Windows/Debug/SharpDX.dll
/AnimationEditor/bin/Windows/Debug/SharpDX.xml
